<div class="row">
  <div class="col lg-4 md-4 sm-12 my-2" *ngFor="let item of data">
    <div class="card" style="width: 20rem;">
      <img src="{{item.img}}" width="200" height="200" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Categorias: {{item.categories}}</h6>
        <p class="card-text">{{item.description}}.</p>
        <a class="btn btn-success" (click)="addCart(item)">ENVIAR AL CARRITO</a>
      </div>
    </div>
  </div>
</div>



